
/.vscode/
/crash-reports/
/defaultconfigs/
/downloads/
local/
logs/
patchouli_books/
resourcepacks/
saves/
screenshots/
shaderpacks/
xaero/
XaeroWaypoints_BACKUP240807/
*.curseclient
minecraftinstance.json
options.txt
patchouli_data.json
usercache.json
usernamecache.json
rhino.local.properties
